body {
  background-color: #282828;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

p {
  font-family: Roboto;
  color: white;
  margin: 0;
}

.video-preview {
  width: 100%;
  background-color: #282828;
  vertical-align: top;
}

.video {
  margin-bottom: 12px;
}
.video img {
  width: 100%;
  border-radius: 15px;
}

.detail {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 14px;
}

.profile {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.profile img {
  width: 100%;
  border-radius: 50%;
}

.title {
  font-size: 14px;
  margin-bottom: 5px;
}

.channel,
.stats {
  font-size: 12px;
  margin-bottom: 0;
}
